
.contactPage {
  max-width: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.titleText {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 700;
  padding-top: 8%;
  margin-bottom: 2%;
  color: var(--textCol1);
}

.box {
  width: 65px;
  height: 65px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  background: var(--btnCol);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: var(--backgroundCol);
}
.boxIcon {
  padding-top: 8px;
  color: var(--backgroundCol);
}
.boxText {
  text-decoration: none !important;
  text-decoration-line: none;
  
}


.actionBtnsContact {
  display: flex;
  justify-content: center;
  margin-bottom: 13%;
}

.contactOptions {
  background: var(--btnCol);
  font-weight: 450;
  top: 50%;
  transform: translate(0, -50%);
  margin-bottom: 20px;
  margin-top: auto;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  min-height: 35px;
  padding-left: 9%;
  color: var(--textCol1) !important;
}

