.contacts {
  display: flex;
  flex-direction: column;
}

.contactDivs {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  background: var(--btnCol);
  
}

.contact {
  display: grid;
  grid-template-columns: 5fr 3fr;
  
}

.contactText {
  text-align: left;
  margin-left: 3%;
  font-size: 17px;
  color: var(--textCol1);
}

.title {
  color: var(--textCol2);
}

.icons {
  text-align: right;
  margin-right: 30%;
  display: flex;
  color: var(--textCol1);
}

.iconMain {
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
}

.searchBarInput {
  height: 45px;
  width: 70vw;
  font-size: 22px;
  border-radius: 10px;
  padding-left: 10px;
}

@media (max-width: 800px) {

}